<a href="https://colab.research.google.com/github/Navjotkhatri/Kidney-Stone-Prediction-/blob/main/kidney_stone_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Kidney Stone Prediction**

The kidney-stone-dataset.csv is a comma-separated values file containing data on patients with kidney stones. The file has 255 rows and 21 columns, with each row representing a patient and each column providing information on various characteristics and laboratory test results. The dataset also includes a target variable, "Risk of Stone", which is a continuous variable representing the risk of developing kidney stones. This dataset can be used for tasks such as predicting the risk of kidney stones based on patient characteristics and test results.

This kidney stone dataset contains 12 features related to the risk of developing kidney stones, including age, gender, weight, height, family history, and various blood and urine measurements. The dataset includes 180 records, and the target variable is a continuous value representing the risk of developing kidney stones. The dataset is useful for building predictive models to identify individuals at high risk for kidney stones, which can aid in the development of prevention and treatment strategies

The kidney-stone-dataset.csv is a dataset containing information on 255 patients with kidney stones, including characteristics such as age, gender, and stone type, as well as laboratory test results. The dataset also includes a target variable, "Risk of Stone", which is a continuous variable representing the risk of developing kidney stones. This dataset can be used for tasks such as predicting the risk of kidney stones based on patient characteristics and test results.

In [3]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Self Projects/kidney stone prediction /kidney-stone-dataset.csv")

In [5]:
df.head()

   Unnamed: 0  gravity    ph  osmo  cond  urea  calc  target
0           0    1.021  4.91   725  14.0   443  2.45       0
1           1    1.017  5.74   577  20.0   296  4.49       0
2           2    1.008  7.20   321  14.9   101  2.36       0
3           3    1.011  5.51   408  12.6   224  2.15       0
4           4    1.005  6.52   187   7.5    91  1.16       0

In [6]:
df.shape

(90, 8)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  90 non-null     int64
 1   gravity     90 non-null     float64
 2   ph          90 non-null     float64
 3   osmo        90 non-null     int64
 4   cond        90 non-null     float64
 5   urea        90 non-null     int64
 6   calc        90 non-null     float64
 7   target      90 non-null     int64
dtypes: float64(4), int64(4)
memory usage: 5.8 KB

In [9]:
df.describe()

,Unnamed: 0,gravity,ph,osmo,cond,urea,calc,target
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000
mean,44.500000,1.017952,6.036651,602.333333,20.621687,258.200000,4.017788,0.500000
std,26.124701,0.006780,0.711801,238.459805,7.654448,135.381127,3.016273,0.502801
min,0.000000,1.005000,4.760000,187.000000,5.100000,10.000000,0.170000,0.000000
25%,22.250000,1.012258,5.536520,411.500000,14.150000,148.250000,1.412500,0.000000
50%,44.500000,1.018000,5.936247,572.000000,21.177172,231.500000,3.230000,0.500000
75%,66.750000,1.023000,6.490000,778.000000,26.075000,366.250000,5.965127,1.000000
max,89.000000,1.034000,7.940000,1236.000000,38.000000,620.000000,13.000000,1.000000